@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  @apply scroll-smooth focus:scroll-auto
}

body {
  @apply tracking-wide text-custom-dark-gray bg-violet-100
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.nav-item {
  @apply text-xl font-bold text-custom-dark-gray items-center tracking-wide cursor-pointer
}

.nav-item:hover {
  @apply text-[#7C4DFF]
}

textarea {
  resize: none;
}

circle {
  stroke-dashoffset: 0;
}

.nav-active {
  @apply text-[#673AB7]
}

